.DS_Store

.venv/
.venv-codex/
.pycache/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

latteasy.egg-info/

sims/
examples/*/sims/
examples/porespy_unsteady_relperm/overnight_unsteady.log
latteasy/bin/

src/single_phase/permeability
src/single_phase/build/*
!src/single_phase/build/placeholder.txt
src/single_phase/build.stale/
src/gray_single_phase/gray_permeability
src/gray_single_phase/porousObstacles3D
src/gray_single_phase/build/
src/multi_phase/ShanChen
src/multi_phase/build/
src/gray_multi_phase/porousObstacles3D
src/gray_multi_phase/build/
src/foam/foam_flow
src/foam/build/

src/palabos-master/
!src/palabos-master/src/lbfoam
!src/palabos-master/src/multiBlock/multiBlock3D.h
!src/palabos-master/src/multiBlock/multiBlock3D.cpp
!src/palabos-master/src/multiphysics/freeSurfaceModel3D.hh
!src/palabos-master/src/multiphysics/freeSurfaceModel3D.h
!src/palabos-master/src/io/multiBlockReader3D.cpp
!src/palabos-master/src/io/multiBlockReader3D.h
!src/palabos-master/src/io/utilIO_3D.cpp
!src/palabos-master/src/io/utilIO_3D.h
